#output p {
    padding: 14px 0px;
    margin: 0 20px 0 0;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#error {
    padding: 14px 0px;
    margin: 0 20px 0 0;
    border-bottom: 1px solid #e9e9e9;
    color: #b32e44;
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
}

#output strong {
    margin: 0 20px;
}

#feedback p {
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong {
    color: #1e3799;
}

label {
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}